div[class^="xb2map"] {
  background-image: url("./xb2map-bg.png") !important;
  background-size: cover;
  margin: 0.5em;
  width: auto;

  table {
    border-collapse: collapse;

    &.item-pop tr td:first-child {
      padding-right: 0.5em;
    }

    &.pop-weather td {
      text-align: center;
      padding: 0 0.5em;
      border: 1px solid;
    }
  }
}
